<%- include('partials/header')-%>

    <div class="container">
        <div class="row">
            <div class="col text-center" style="padding-top: 50px;">
                <h2 class="hiname">Dashboard</h2>
                <%=user.email%>
            </div>
        </div>
    </div>
 <%- include('partials/footer') -%>

 